*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ------------------------------------------ SCROLLBAR ------------------------------------------*/

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
   
::-webkit-scrollbar-thumb {
    background-color: var(--accent2); 
    transition: .4s ease-in-out;
    border-top: solid 18px var(--list-bg);
    border-bottom: solid 18px var(--list-bg);
    border-left: solid 8px var(--list-bg);
    border-right: solid 8px var(--list-bg);
    border-radius: 10px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: #856d546b; 
}

/* ------------------------------------------ FONTS ------------------------------------------*/

@font-face {
    font-family: AestheticRegular;
    src: url(fonts/AestheticRegular-8M5dM.ttf);
}
@font-face {
    font-family: Brownhill;
    src: url(fonts/Brownhill\ Script.ttf);
}
@font-face {
    font-family: ClassyVogue;
    src: url(fonts/Classy\ Vogue\ Stylish\ Serif\ Font.otf);
}


/* ------------------------------------------ BODY ------------------------------------------*/

body{
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    font-family: ClassyVogue;
    background-image: url(imgs/batthern.png);
    animation:transitionIn 0.4s;
    transition: .4s ease-in-out;
}
@keyframes transitionIn{
    from{opacity: 0;}
    to{opacity: 1;}
}


/* ------------------------------------------ MAIN ------------------------------------------*/

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 1.5em;
}


/* ------------------------------------------ TOP-BAR ------------------------------------------*/

.top_bar{
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 1em;
    padding: 1.5em 1em 1em 1em;
}

.back_svg{
    width: 18px;
    height: 18px;
}

.back_button{
    width: 4em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75em;
    border: 2px solid var(--border);
    background-color: var(--accent0);
    outline: none;
    border-radius: 10px;
    filter: var(--drop-shadow);
    transition: .2s ease-in-out;
    cursor: pointer;
}
.back_button:hover{
    filter: none;
}
.back_button:focus{
    background-color: var(--accent-focus1);
    filter: none;
}

.billing{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 0 0 0.5em;
    font-size: 1.75em;
    width: 100%;
    height: 90%;
    color: var(--black);
    border: none;
    border-bottom: 3px solid var(--border);
    background-color: transparent;
}

/* ------------------------------- INFO-POPUP ------------------------------- */

.info_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    padding: 0;
    border: none;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    transition: .2s ease-in-out;
    fill: var(--black);
}
.info_button:hover{
    cursor: pointer;
    opacity: 0.65;
}
.info_popup{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.9);
    color: var(--black);
    font-family: Josefin Slab;
    font-size: 1.25em;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.4s ease-in-out;
    z-index: -2;
}
.info_popup_content .divider{
    width: 100%;
    border: 1px solid var(--note-divider-border);
    border-radius: 15px;
    color: var(--black);
}
.info_popup_content{
    max-width: 400px;
    height: auto;
    background-color: var(--bg-color);
    border-radius: 8px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    row-gap: 1em;
    padding: 1.5em;
    margin: 1em;
    font-family: ClassyVogue;
}
.info_title{
    width: 100%;
    font-weight: bold;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.delete_buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.cancel_only{
    background-color: transparent;
    border: 2px solid var(--border);
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 8px;
    outline: none;
    color: var(--black);
    font-family: ClassyVogue;
    transition: .4s ease-in-out;
}
.cancel_only:hover{
    color: black;
    background-color: var(--accent-focus1);
    cursor: pointer;
}
.information{
    line-height: 1.15em;
    font-size: 0.9em;
}


/* ------------------------------------------ BOTTOM-BAR ------------------------------------------*/

.bottom_bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1em;
    padding: 0.45em;
    background-color: var(--bottom-bar-bg);
    border: 2px solid var(--border);
    border-radius: 15px;
    margin: 1em 1em 1.5em 1em;
    color: var(--black);
}

.front{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}

.disabled_button{
    color: var(--black);
    padding: 1em;
    border: 2px solid var(--border);
    background-color: var(--disabled-button-bg);
    outline: none;
    font-size: 1.25em;
    border-radius: 10px;
    font-family: ClassyVogue;
    opacity: 0.6;
    pointer-events: none;
}
.note_label{
    font-size: 1.3em;
    text-wrap: nowrap;
    color: var(--black);
}
.note{
    width: 100%;
    height: 2.65em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.85em;
    font-size: 1.25em;
    font-family: ClassyVogue;
    border: none;
    border-bottom: 2px solid var(--border);
    outline: none;
    background-color: transparent;
    transition: .2s ease-in-out;
    color: var(--black);
}
.note:focus{
    border-radius: 10px;
    background-color: var(--input-hover);
}
.note::placeholder{
    opacity: 0;
}

.add_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em 0.4em;
}
.add_items, .bill{
    padding: 1em;
    border: 2px solid var(--border);
    background-color: var(--accent0);
    outline: none;
    font-size: 1.25em;
    border-radius: 10px;
    font-family: ClassyVogue;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.add_items:hover, .bill:hover{
    background-color: var(--accent2);
}


/* ------------------------------------------ TABLES ------------------------------------------*/

.tables{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: var(--list-bg);
    outline: 3px solid var(--border);
    border-radius: 20px 20px 0 0;
    padding: 1.5em 0em 1.5em 1.5em;
    gap: 1.5em;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0.5em 0 0 0;
    color: var(--black);
}

.table{
    width: 100%;
    padding: 1em;
    display: flex;
    row-gap: 1em;
    font-size: 1.3em;
    align-items: center;
    justify-content: space-between;
    background-color: var(--list-bg);
    border: none;
    border-bottom: 3px solid var(--border);
    transition: .2s ease-in-out;
    cursor: pointer;
}
.table:hover{
    filter: none;
}

.add_remove{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5em;
}
.add_svg, .remove_svg{
    width: 30px;
    height: 30px;
    fill: var(--black);
    transition: .4s ease-in-out;
}
.add, .remove{
    padding: 0.5em;
    border: none;
    outline: none;
    background-color: transparent;
    transition: .2s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}
.add:hover, .remove:hover{
    background: var(--accent2);
}
.add:hover .add_svg, .remove:hover .remove_svg{
    fill: black;
}

.price_tag{
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    padding: 0 1.5em 0 1.5em;
    font-size: 1.5em;
    justify-content: space-between;
    background-color: var(--price-tag-bg);
    outline: 3px solid var(--border);
    color: var(--black);
    border-radius: 0 0 20px 20px;
    margin-bottom: 0.5em
}


/* ------------------------------------------ SMALL-DEVICE ------------------------------------------*/

.small_device{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
    text-align: center;
    color: var(--black);
}


/* ------------------------------------------ MEDIA-QUERIES ------------------------------------------*/

@media screen and (max-width: 1000px) {
    .table{
        margin-top: 0.5em;
    }
    .bottom_bar{
        flex-direction: column;
        align-items: start;
        row-gap: 0.5em;
    }
    .front, .note, .add_buttons, .add_items, .bill{
        width: 100%;
    }
}
@media screen and (max-width: 650px) {
    .disabled_button{
        width: 100%;
    }
    .note_label{
        display: none;
    }
    .note::placeholder{
        opacity: 1;
    }
}
@media screen and (max-width: 500px) {
    .add_buttons{
        flex-direction: column;
    }
    .price_tag{
        flex-direction: column;
        align-items: start;
        justify-content: start;
        row-gap: 0.5em;
        padding: 1em;
    }
}
@media screen and (max-width: 570px) {
    .table{
        row-gap: 1em;
        padding: 0;
        font-size: 1em;
    }
    .price_tag{
        font-size: 1.25em;
        margin-bottom: 0.25em;
    }
    .add_svg, .remove_svg{
        width: 20px;
        height: 20px;
    }
    .bottom_bar{
        margin: 0.5em 1.5em 1.5em 1.5em;
    }
    .disabled_button, .add_items, .bill{
        padding: 0.65em;
    }
}
@media screen and (max-width: 535px) {
    .note::placeholder{
        font-size: 0.75em;
    }
}
@media screen and (max-width: 420px) {
    .front{
        flex-direction: column;
        align-items: start;
        row-gap: 1em;
    }
    .disabled_button{
        width: 100%;
    }
    .note::placeholder{
        font-size: 1em;
    }
}
@media screen and (max-width: 375px) {
    .top_bar{
        width: 100%;
        height: 4em;
        column-gap: 0.65em;
    }
    .back_svg{
        width: 12px;
        height: 12px;
    }
    .back_button{
        width: 3em;
        height: 3em;
    }
    .billing{
        font-size: 1.25em;
        height: 100%;
        padding: 0.25em 0 0.5em 0.5em;
    }
}
@media screen and (max-width: 279px) {
    .small_device{
        display: flex;
    }
    main{
        display: none;
    }
}