*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ------------------------------------------ SCROLLBAR ------------------------------------------*/

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
   
::-webkit-scrollbar-thumb {
    background-color: var(--accent2); 
    transition: .4s ease-in-out;
    border-top: solid 18px var(--bg-color);
    border-bottom: solid 18px var(--bg-color);
    border-left: solid 8px var(--bg-color);
    border-right: solid 8px var(--bg-color);
    border-radius: 10px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: #856d546b; 
}

/* ------------------------------------------ FONTS ------------------------------------------*/

@font-face {
    font-family: AestheticRegular;
    src: url(fonts/AestheticRegular-8M5dM.ttf);
}
@font-face {
    font-family: Brownhill;
    src: url(fonts/Brownhill\ Script.ttf);
}
@font-face {
    font-family: ClassyVogue;
    src: url(fonts/Classy\ Vogue\ Stylish\ Serif\ Font.otf);
}


/* ------------------------------------------ BODY ------------------------------------------*/

body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    font-family: ClassyVogue;
    background-image: url(imgs/batthern.png);
    animation:transitionIn 0.75s;
    transition: .4s ease-in-out;
}
@keyframes transitionIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

body::-webkit-scrollbar {
    width: 20px;
    display: none;
}

/* ------------------------------------------ MAIN ------------------------------------------*/

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0em 1.5em 1.25em 1.5em;
}


/* ------------------------------------------ TOP-BAR ------------------------------------------*/

.top_bar{
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 1em;
    padding: 1.5em 1em 1em 1em;
}

.back_svg{
    width: 18px;
    height: 18px;
}

.back_button{
    width: 4em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75em;
    border: 2px solid var(--border);
    background-color: var(--accent0);
    outline: none;
    border-radius: 10px;
    filter: var(--drop-shadow);
    transition: .2s ease-in-out;
    cursor: pointer;
}
.back_button:hover{
    filter: none;
}
.back_button:focus{
    background-color: var(--accent-focus1);
    filter: none;
}

.sales{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 0 0 0.5em;
    font-size: 1.75em;
    width: 100%;
    height: 90%;
    color: var(--black);
    border: none;
    border-bottom: 3px solid var(--border);
    background-color: transparent;
}


/* ------------------------------------------ SALES ------------------------------------------*/

.sales_stats{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--sales-main-bg);
    border: 3px solid var(--border);
    border-radius: 20px;
    gap: 1em;
    padding-bottom: 1em;
    margin: 0 0 1em 0;
}



/* ------------------------------------------ SALES-TOP ------------------------------------------*/

.ss_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.25em;
    border-radius: 15px 15px 0 0;
    background-color: var(--price-tag-bg);
    color: var(--black);
    padding: 0.75em 0.75em 0.75em 1em;
    border: none;
    border-bottom: 3px solid var(--border);
    z-index: 3;
}
.sales_title{
    font-size: 1em;
    text-wrap: nowrap;
}

.bills_top_options, .sales_top_options{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 0.7em;
}

/* ------------------------------------------ DATE-PICKER ------------------------------------------*/

.calender_wrapper {
    position: relative;
    z-index: 99;
}
/*.calender_wrapper::before{
    content: "";
    position: absolute;
    margin-top: 0.55em;
    margin-left: 0.55em;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url(svg/calender.svg);
    cursor: pointer;
}*/
.datepicker_input {
	display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
	border-radius: 10px;
	line-height: 1.5rem;
    font-family: ClassyVogue;
    border: 2px solid var(--border-sales-datepicker);
    background-color: var(--accent0);
	font-size: 1rem;
	color: black;
	width: 7em;
    height: 2.65em;
    transition: .2s ease-in-out;
    cursor: pointer;
    padding-top: 0.15em;
}
.datepicker_input:hover{
    background-color: var(--accent2);
}
.datepicker_input:focus{
    background-color: var(--accent2);
}
.datepicker_input:focus {outline: none;}
#ui-datepicker-div {
	display: none;
	border: 2px solid var(--border-sales-datepicker);
    background-color: var(--datepicker-bg);
    color: var(--black);
	box-shadow: var(--lighter-drop-shadow);
	margin-top: 0.3rem;
    transform: translateX(-4em);
    border-radius: 10px;
	padding: 0.5rem;
    width: 240px;
    right: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.ui-datepicker-calendar thead th {
	padding: 0.25rem 0;
	text-align: center;
	font-size: 0.875rem;
	font-weight: 400;
	color: var(--black);
}
.ui-datepicker-calendar tbody td {
	width: 2.5rem;
	text-align: center;
	padding: 0;
}
.ui-datepicker-calendar tbody td a {
	display: block;
	border-radius: 0.25rem;
	line-height: 2rem;
	transition: 0.3s all;
	color: var(--black);
	font-size: 0.875rem;
	text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {	
	background-color: var(--datepicker-hover);
    color: black;
}
.ui-datepicker-calendar tbody td a.ui-state-active {
	background-color: var(--datepicker-hover);
	color: black;
}
.ui-datepicker-header a.ui-corner-all {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	border-radius: 0.25rem;
	transition: 0.3s all;
}
.ui-datepicker-header a.ui-corner-all:hover {
	background-color: var(--dropdown-hover);
}
.ui-datepicker-header a.ui-datepicker-prev {	
	left: 0;	
	background: var(--datepicker-L-svg);
	background-repeat: no-repeat;
	background-size: 0.5rem;
	background-position: 50%;
	transform: rotate(180deg);
}
.ui-datepicker-header a.ui-datepicker-next {
	right: 0;
	background: var(--datepicker-R-svg);
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 50%;
}
.ui-datepicker-header a>span {
	display: none;
}
.ui-datepicker-title {
	text-align: center;
	line-height: 2rem;
	margin-bottom: 0.25rem;
	font-size: 1.15em;
	font-weight: 500;
	padding-bottom: 0.75rem;
}


/* ------------------------------------------ CUSTOM-DROPDOWN ------------------------------------------*/

.reference_dropdown{
    display: flex;
    flex-direction: row;
    justify-content: end;
    z-index: 99;
}
.custom_dropdown {
    position: relative;
    width: 6.5em;
    border: 2px solid var(--border-sales-datepicker);
    background-color: var(--accent0);
    color: black;
    border-radius: 10px;
    font-size: 0.8em;
    transition: .2s ease-in-out;
}
.custom_dropdown:hover{
    background-color: var(--custom-dropdown-hover);
}
.custom_dropdown:focus{
    background-color: var(--custom-dropdown-hover);
}
.selected_option_sales, .selected_option_billing {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.options_sales, .options_billing {
    width: 100%;
    opacity: 0;
    display: block;
    visibility: hidden;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0.4em 1em 0 0;
    border: 2px solid var(--border-sales-datepicker);
    background-color: var(--option-sales-bg);
    box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
    border-radius: 10px;
    font-size: 0.85em;
    text-align: center;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s;
}
.options_sales.active, .options_billing.active {
    width: 100%;
    opacity: 1;
    display: block;
    visibility: visible;
    text-align: center;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0.4em 1em 0 0;
    font-size: 0.85em;
    color: var(--black);
    border: 2px solid var(--border-sales-datepicker);
    background-color: var(--option-sales-bg);
    box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;
}
.options_table {
    margin-top: 3.5em;
}
.options_sales li, .options_billing li {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.options_sales li:hover, .options_billing li:hover {
    border-radius: 5px;
    background-color: var(--option-sales-bg-hover);
    color: black;
}
.custom_arrow_sales, .custom_arrow_bill {
    position: absolute;
    margin-top: 0.9em;
    margin-right: 0.85em;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--dropdown-arrow);
}


/* ------------------------------------------ SALES-MIDDLE ------------------------------------------*/

.ss_middle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.stats_list{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    padding: 3em 2em 3em 2em;
    width: 100%;
    height: max-content;
    gap: 2.5em;
}
.stats{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.stats_icon{
    padding: 0.75em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--stats-icon-bg);
}
.stats_icon_svg{
    width: 25px;
    height: 25px;
    fill: var(--black);
}
.stats_icon_svgP{
    width: 33px;
    height: 24px;
    fill: var(--black);
}
.stats_data{
    display: flex;
    align-items: start;
    gap: 0.15em;
    justify-content: center;
    flex-direction: column;
    color: var(--black);
}
.stats_data_sub{
    color: var(--stats-data-sub);
}
  


/* ------------------------------------------ SALES-BOTTOM ------------------------------------------*/

.ss_bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 3em 2em 2.5em 2em;
    width: 100%;
}
#chartdiv {
    width: 100%;
    height: 400px;
    font-size: 1em;
}
.canvasjs-chart-credit {
    display: none !important; /* Hide the CanvasJS logo */
}


/* ------------------------------------------ BILLING ------------------------------------------*/

.bills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--sales-main-bg);
    border: 3px solid var(--border);
    border-radius: 20px;
    gap: 1em;
    padding-bottom: 1em;
}

.bills_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.25em;
    border-radius: 15px 15px 0 0;
    background-color: var(--price-tag-bg);
    color: var(--black);
    padding: 0.75em 0.75em 0.75em 1em;
    border: none;
    border-bottom: 3px solid var(--border);
    z-index: 3;
}
.bills_title{
    font-size: 1.15em;
}

.billing {
    width: 100%;
    height: 48em;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 1em;
    padding-bottom: 1.5em;
    mask-image: linear-gradient(to bottom, black calc(100% - 48px), transparent 100%);
}


/* ------------------------------------------ COLLAPSIBLE ------------------------------------------*/

.collapsible {
    background-color: transparent;
    color: var(--black);
    cursor: pointer;
    font-family: ClassyVogue;
    padding: 1em;
    width: 100%;
    border: none;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
    font-size: 1.25em;
    transition: .2s ease-in-out;
    background-color: var(--collapsible1);
}
.collapsible::after{
    content: '';
    position: relative;
    right: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #B59A7E;
    transition: .2s ease-in-out;
}
.collapsible:hover {
    background-color: var(--collapsible1-hover);
}
.active{
    background-color: var(--collapsible1-hover);
    border-radius: 10px 10px 0 0;
    padding: 1.5em 0 0.5em 2.5em;
}
.collapsible.active::after {
    margin-right: 2.65em;
}
  

.bills_scroll {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}
  
.bills_scroll .header {
    width: 98%;
    background-color: var(--price-tag-bg);
    border: 3px solid var(--border);
    color: var(--black);
    padding: 1.5em;
    text-align: center;
    border-radius: 10px;
    position: sticky;
    font-size: 1.15em;
    font-weight: bold;
    top: 0;
    z-index: 2;
}
.content-inner{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: transparent;
    border: 3px solid var(--border);
    width: 96%;
    margin: 0 1em 0.5em 1em;
    border-radius: 15px;
    overflow: hidden;
}
.content {
    width: 100%;
    padding: 0 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-height: 0;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--collapsible1-hover);
}


/* ------------------------------------------ TABLES ------------------------------------------*/

.tables{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 99%;
    height: 29em;
    background-color: var(--sales-main-bg);
    outline: 3px solid var(--border);
    border-radius: 20px 20px 0 0;
    padding: 1.5em;
    gap: 1.5em;
    margin: 1em 0 0 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.table{
    width: 100%;
    padding: 1em;
    display: flex;
    row-gap: 1em;
    font-size: 1.5em;
    align-items: center;
    justify-content: space-between;
    background-color: var(--sales-main-bg);
    border: none;
    color: var(--black);
    border-bottom: 3px solid var(--border);
    transition: .2s ease-in-out;
    cursor: pointer;
}
.table:hover{
    filter: none;
}

.add_svg, .remove_svg{
    width: 30px;
    height: 30px;
}
.add, .remove{
    padding: 0.5em;
    border: none;
    outline: none;
    background-color: transparent;
    transition: .2s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}
.add:hover, .remove:hover{
    background-color: #C5AE96;
}

.price_tag{
    width: 99%;
    height: max-content;
    display: flex;
    align-items: center;
    padding: 1.5em;
    font-size: 1.5em;
    margin-bottom: 1.5em;
    justify-content: space-between;
    background-color: var(--price-tag-bg);
    outline: 3px solid var(--border);
    color: var(--black);
    border-radius: 0 0 20px 20px;
}


/* ------------------------------------------ SMALL-DEVICE ------------------------------------------*/

.small_device{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
    text-align: center;
    color: var(--black);
}


/* ------------------------------------------ MEDIA-QUERIES ------------------------------------------*/

@media screen and (max-width: 1000px) {
    .table{
        margin-top: 0.5em;
    }
    .tables{
        margin: 1em 1em 0 1em;
    }
    #chartdiv {
        font-size: 0.75em;
    }
}
@media screen and (max-width: 680px) {
    .price_tag{
        flex-direction: column;
        align-items: start;
        justify-content: start;
        row-gap: 0.5em;
        padding: 1em;
    }
    .bills_scroll .header {
        width: 90%;
    }
    .content-inner{
        width: 89%;
    }
}
@media screen and (max-width: 610px) {
    .stats_list{
        flex-direction: column;
        align-items: start;
    }
}
@media screen and (max-width: 565px) {
    #chartdiv {
        font-size: 0.55em;
    }
    .ss_bottom{
        padding: 3em 0.5em 2.5em 0.5em;
    }
}
@media screen and (max-width: 570px) {
    .table{
        row-gap: 1em;
        padding: 0;
        font-size: 1em;
    }
    .add_svg, .remove_svg{
        width: 20px;
        height: 20px;
    }
    .price_tag{
        font-size: 1.25em;
    }
}
@media screen and (max-width: 500px) {
    .bills_top, .ss_top{
        align-items: start;
        flex-direction: column;
        row-gap: 0.75em;
    }
    .bills_top_options, .sales_top_options{
        justify-content: start;
    }
    #ui-datepicker-div {
        transform: translateX(0em);
    }
}
@media screen and (max-width: 370px) {
    .stats_list{
        padding: 2em 1em 2em 1em;
    }
    .stats{
        gap: 0.65em;
    }
    .stats_icon{
        padding: 0.55em;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .stats_icon_svg{
        width: 20px;
        height: 20px;
    }
    .stats_icon_svgP{
        width: 28px;
        height: 19px;
    }
    .sales_title{
        font-size: 0.9em;
    }
    .bills_title{
        font-size: 0.95em;
    }
}
@media screen and (max-width: 375px) {
    .top_bar{
        width: 100%;
        height: 4em;
        column-gap: 0.65em;
    }
    .back_svg{
        width: 12px;
        height: 12px;
    }
    .back_button{
        width: 3em;
        height: 3em;
    }
    .sales{
        font-size: 1.25em;
        height: 100%;
        padding: 0.25em 0 0.5em 0.5em;
    }
    .ss_top{
        padding: 0.75em;
    }
    .bills_top_options, .sales_top_options{
        justify-content: start;
        margin: 0;
        gap: 0.5em;
        width: auto;
    }
    .datepicker_input{
        width: 6.5em;
        height: 2.2em;
        padding-top: 0;
    }
    .datepicker_input::placeholder{
        font-size: 0.85em;
    }
    .custom_dropdown{
        width: 6.5em;
        font-size: 0.65em;
    }
    .custom_arrow_sales, .custom_arrow_bill {
        margin-right: 0.6em;
    }
}
@media screen and (max-width: 279px) {
    .small_device{
        display: flex;
    }
    body{
        width: 100%;
        height: 100dvh;
    }
    main{
        display: none;
    }
}