*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ------------------------------------------ SCROLLBAR ------------------------------------------*/

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
   
::-webkit-scrollbar-thumb {
    background-color: #C5AB8F; 
    border-radius: 10px;
    transition: .4s ease-in-out;
    border-top: solid 18px #DBC6B0;
    border-bottom: solid 18px #DBC6B0;
    border-left: solid 8px #DBC6B0;
    border-right: solid 8px #DBC6B0;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: #856d546b; 
}

/* ------------------------------------------ FONTS ------------------------------------------*/

@font-face {
    font-family: AestheticRegular;
    src: url(fonts/AestheticRegular-8M5dM.ttf);
}
@font-face {
    font-family: Brownhill;
    src: url(fonts/Brownhill\ Script.ttf);
}
@font-face {
    font-family: ClassyVogue;
    src: url(fonts/Classy\ Vogue\ Stylish\ Serif\ Font.otf);
}


/* ------------------------------------------ BODY ------------------------------------------*/

body{
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DBC6B0;
    font-family: ClassyVogue;
    background-image: url(imgs/batthern.png);
    animation:transitionIn 0.4s;
}
@keyframes transitionIn{
    from{opacity: 0;}
    to{opacity: 1;}
}


/* ------------------------------------------ MAIN ------------------------------------------*/

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 1.5em;
}


/* ------------------------------------------ TOP-BAR ------------------------------------------*/

.top_bar{
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 1em;
    padding: 1em;
}

.back_svg{
    width: 18px;
    height: 18px;
}

.back_button{
    width: 4em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75em;
    border: 2px solid #B8AA9C;
    background-color: #DBC6B0;
    outline: none;
    border-radius: 10px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    transition: .2s ease-in-out;
    cursor: pointer;
}
.back_button:hover{
    filter: none;
}
.back_button:focus{
    background-color: #C5AE96;
    filter: none;
}

.search_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.search{
    width: 100%;
    height: 2.65em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.85em;
    font-size: 1.25em;
    font-family: ClassyVogue;
    border: 2px solid #B8AA9C;
    background-color: #DBC6B0;
    border-radius: 10px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    outline: none;
    transition: .2s ease-in-out;
}
.search:focus{
    filter: none;
}

.radio{
    width: 8em;
    column-gap: 0.7em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="radio"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4em;
    height: 4em;
    color: black;
    border: 2px solid #B8AA9C;
    background-color: #DBC6B0;
    transition: .2s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}
input[type="radio"]:checked{
    background-color: #C5AE96;
}
.radioVeg::after{
    content: '';
    position: absolute;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    background-color: limegreen;
    margin-top: 1.25em;
    margin-left: 1.25em;
    
}
.radioNonVeg::after{
    content: '';
    position: absolute;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    background-color: crimson;
    margin-top: 1.25em;
    margin-left: 1.25em;
}



/* ------------------------------------------ TOP-BAR ------------------------------------------*/

.bottom_bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1em;
    padding: 0.45em;
    background-color: #D2BBA3;
    border: 2px solid #B8AA9C;
    border-radius: 15px;
    margin: 1em;
}

.front{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}

.disabled_button{
    padding: 1em;
    border: 2px solid #B8AA9C;
    background-color: #DBC6B0;
    outline: none;
    font-size: 1.25em;
    border-radius: 10px;
    font-family: ClassyVogue;
    opacity: 0.6;
    pointer-events: none;
}
.note_label{
    font-size: 1.3em;
}
.note{
    width: 100%;
    height: 2.65em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.85em;
    font-size: 1.25em;
    font-family: ClassyVogue;
    border: none;
    border-bottom: 2px solid #B8AA9C;
    outline: none;
    background-color: transparent;
    transition: .2s ease-in-out;
}
.note:focus{
    border-radius: 10px;
    background-color: #C5AE96;
}
.note::placeholder{
    opacity: 0;
}

.add_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em 0.4em;
}
.add_items, .bill{
    padding: 1em;
    border: 2px solid #B8AA9C;
    background-color: #DBC6B0;
    outline: none;
    font-size: 1.25em;
    border-radius: 10px;
    font-family: ClassyVogue;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.add_items:hover, .bill:hover{
    background-color: #C5AE96;
}

/* ------------------------------------------ TABLES ------------------------------------------*/

.tables{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #DBC6B0;
    outline: 3px solid #B8AA9C;
    border-radius: 20px;
    padding: 1.5em 0em 1.5em 1.5em;
    gap: 1.5em;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0.5em;
}

.table{
    width: 100%;
    padding: 1em;
    display: flex;
    row-gap: 1em;
    font-size: 1.3em;
    align-items: center;
    justify-content: space-between;
    background-color: #DBC6B0;
    border: none;
    border-bottom: 3px solid #B8AA9C;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.table:hover{
    filter: none;
}

.add_svg, .remove_svg{
    width: 25px;
    height: 25px;
}
.add, .remove{
    padding: 0.5em;
    border: none;
    outline: none;
    background-color: transparent;
    transition: .2s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}
.add:hover, .remove:hover{
    background-color: #C5AE96;
}



/* ------------------------------------------ SMALL-DEVICE ------------------------------------------*/

.small_device{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
    text-align: center;
}


/* ------------------------------------------ MEDIA-QUERIES ------------------------------------------*/

@media screen and (max-width: 1000px) {
    .table{
        margin-top: 0.5em;
    }
}
@media screen and (max-width: 840px) {
    .bottom_bar{
        flex-direction: column;
        align-items: start;
        row-gap: 0.5em;
    }
    .front, .note, .add_buttons{
        width: 100%;
    }
    .add_items, .bill{
        width: 100%;
    }
}
@media screen and (max-width: 550px) {
    .add_buttons{
        flex-direction: column;
    }
}
@media screen and (max-width: 570px) {
    .table{
        row-gap: 1em;
        padding: 0;
        font-size: 1em;
    }
    .add_svg, .remove_svg{
        width: 20px;
        height: 20px;
    }
    .bottom_bar{
       margin: 0.5em;
    }
}
@media screen and (max-width: 420px) {
    .front{
        flex-direction: column;
        align-items: start;
        row-gap: 1em;
    }
    .disabled_button{
        width: 100%;
    }
    .note_label{
        display: none;
    }
    .note::placeholder{
        opacity: 1;
    }
}
@media screen and (max-width: 375px) {
    main{
        row-gap: 0.5em;
    }
    .top_bar{
        width: 100%;
        height: 4em;
        column-gap: 0.65em;
    }
    .back_svg{
        width: 12px;
        height: 12px;
    }
    .back_button, input[type="radio"]{
        width: 3em;
        height: 3em;
    }
    .search{
        height: 2em;
        font-size: 0.95em;
        padding: 1.2em 1.2em 1.2em 0.75em;
    }
    .radioVeg::after, .radioNonVeg::after{
        width: 0.85em;
        height: 0.85em;
        margin-top: 0.9em;
        margin-left: 0.9em;
    }
}
@media screen and (max-width: 279px) {
    .small_device{
        display: flex;
    }
    main{
        display: none;
    }
}